.header1 {
    font-size: 30px;
}

p {
    font-size: 20px;
}

.accent-image-right {
    height: 200px;
    width: 200px;
    float: right;
    margin-left: 15px;
}

.ul-squares {
    display: inline-block;
    margin-left: 40px;
    font-size: 25px;
}

.li-squares {
    list-style: square;
}

.core-subsection {
    font-size: 28px;
}

/* data wrapper, coming from blogConstants or, eventually, coming from fetch */
.blog-content-read-wrapper {
    display: flex;
    flex-direction: column;
}

/* BlogRead Component */
.blog-read-container {
    display: flex;
    flex-direction: column;
    padding: 50px 20px 50px 20px;
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
    color: #90868B;
}

.blog-read-content p {

}

.pre-code {
    padding: 10px;
    background-color: grey;
    width: fit-content;
}

.jsx {
    
}

.anchors {
    font-size: 20px;
    color: #160d07;
}

.anchors:hover, .anchors:visited, .anchors:active {
    color: #C19377;

}

.code-block {
    font-size: 22px;
    color: black;
}

.caption {
    /* float: right; */
    font-size: 20px;
    text-align: center;
}

.figure-image {
    display: block;
    float: right;
}

.numbered-blog {
    font-size: 25px;
}

.quote-block {
    font-size: 28px;
}


@media only screen and (min-width: 775px) {
    .blog-read-container {
        padding: 100px 250px 50px 250px;

    }

    p {
        font-size: 25px;
    }

    .accent-image-right {
        height: 250px;
        width: 250px;
        float: right;
        margin-left: 15px;
    }

    .anchors {
        font-size: 25px;
    }
}