/* todo this file - blog read view is a little wrecked on large screens */
p {
    font-size: 20px;
}

.blog-read-title {
    font-size: 35px;
}

.accent-image-right {
    height: 200px;
    width: 200px;
    float: right;
    margin-left: 15px;
}

.ul-squares {
    display: inline-block;
    margin-left: 40px;
    font-size: 20px;
}

.li-squares {
    list-style: square;
}

.core-subsection {
    font-size: 28px;
}

/* data wrapper, coming from blogConstants or, eventually, coming from fetch */
.blog-content-read-wrapper {
    display: flex;
    flex-direction: column;
}

/* BlogRead Component */
.blog-read-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 20px 50px 20px;
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
    color: #90868B;
    max-width: 1100px;
}

.code-block-large {
    font-size: 16px;
    white-space: pre;
    width: 90vw;
    max-width: 95%;
    overflow-x: scroll;
    background-color: grey;
    color: black;
    font-family: monospace;
    padding: 10px;
    margin: 5px 10px 5px 5px;
    border-radius: 2px;
}

.code-block-snippet {
    font-size: 16px;
    white-space: pre;
    width: fit-content;
    background-color: grey;
    color: black;
    font-family: monospace;
    padding: 10px;
    margin: 5px 10px 5px 5px;
    border-radius: 2px;
}

.inline-code-emphasis {
    font-size: 16px;
    white-space: pre;
    width: fit-content;
    background-color: grey;
    color: black;
    font-family: monospace;
    padding: 1px;
    border-radius: 2px;
}

.figure-pres {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.caption-pres {
    font-size: 20px;
}

.output {
    width: 97%;
}

.anchors {
    font-size: 20px;
    color: #160d07;
}

.anchors:hover, .anchors:visited, .anchors:active {
    color: #160d07;;

}

.caption {
    font-size: 20px;
    text-align: center;
}

.figure-image {
    display: block;
    float: right;
}

.numbered-blog {
    font-size: 20px;
}

.quote-block {
    font-size: 28px;
}

.feature-image {
    max-width: 90%;
    max-height: 90%;
}

.block-quote {
    border-left: solid 2px rgb(115, 111, 111);
    padding-left: 10px;
    margin-left: 20px;
    font-style: italic;
}

@media only screen and (min-width: 1151) {
    /* .blog-read-container {
        padding: 200px 100px 50px 100px;
    } */
}


@media only screen and (min-width: 775px) {

    .blog-read-container {
        padding: 100px 10vw 50px 10vw;
        /* margin-left: 10vw;
        margin-right: 10vw; */
    }


    p {
        font-size: 25px;
    }

    .figure-pres {
        display: flex;
        flex-direction: row;
    }

    .output {
        width: unset;
    }

    .accent-image-right {
        height: 250px;
        width: 250px;
        float: right;
        margin-left: 15px;
    }

    .anchors {
        font-size: 25px;
    }

    .code-block {
        font-size: 22px;
    }

    .ul-squares {
        font-size: 25px;
    }

    .numbered-blog {
        font-size: 25px;
    }
}

@media only screen and (min-width: 776px)  {


}