#Blog {
    background-image: url('../../public/BGDiagramSteamPunk.png');
    background-color: #607293;
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* the individual preview item going into the main list */
#BlogPreview {
    padding: 10px;
}

.blog-preview-content {
    overflow: clip;
    height: 300px;
    font-size: 20px;
    padding-bottom: 10px;

}

/* the whole list view with reading samples */
.main-blog-list {
    font-family: 'Goudy Bookletter 1911', serif;
    padding-top: 100px;
    width: 90vw;
    color: rgb(48, 28, 4);
}

.glassBlog {
    /* From https://css.glass */
    background: rgba(198, 110, 154, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(81, 27, 79, 0.722);
}

.blog-preview-title {
    font-size: 26px;
}

.read-more-link {
    font-size: 20px;
}

@media only screen and (min-width: 1250px) {
    .main-blog-list {
        width: 60vw;
    }
}

@media only screen and (min-width: 775px) {
    #Blog {
        margin-top: -30px;
    }

    #BlogPreview{
        padding: 50px;

    }

    .main-blog-list {
        width: 75vw;
    }

    .blog-read-container {
        padding: 100px 200px 50px 200px;

    }

    .blog-preview-content {
        overflow: clip;
        height: 300px;
        font-size: 25px;
        padding-bottom: 10px;
    
    }

    .read-more-link {
        font-size: 25px;
    }

    .blog-preview-title {
        font-size: 30px;
    }
}