#Blog {
    background-image: url('/BGDiagramSteamPunk.png');
    background-color: #607293;
    margin-top: -56px;
}

/* the individual preview item going into the main list */
#BlogPreview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #2a2928;
    margin-bottom: 10px;
    min-height: 400px;
    max-height: 400px;
    padding: 20px;
    width: 350px;
}

.blog-preview-content {
    overflow: clip;
    height: 200px;
    max-height: 250px;
    min-height: 250px;
    font-size: 18px;
    padding: 0 20px;
}

/* the whole list view with reading samples */
.main-blog-list {
    font-family: 'Goudy Bookletter 1911', serif;
    color: #dfdfcc;
    display: flex;
    flex: 1 1 auto; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 98%;
    min-width: 1px;
    overflow-x: hidden;
    padding-top: 70px;
    position: relative;
    width: 100%;
}

.blog-preview-date {
    color: #dfdfcc;
    font-size: 18px;
    padding-left: 20px;
}

.blog-preview-title {
    font-size: 24px;
    padding: 0 20px;
}

.read-more {
    display: flex;
    justify-content: center;
    margin-top: -25px;
    height: 60px;
    min-height: 60px;
    background-color: #444546;
    align-items: center;
}

.read-link, .read-link:visited {
    color: rgb(79, 159, 244);
    font-size: 18px;
    text-decoration: none;
}

@media only screen and (min-width: 775px) {
    #Blog {
        margin-top: -37px;
    }

    #BlogPreview{
        padding: 30px;
        width: 350px;
    }

    .main-blog-list {
        column-gap: 20px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding-top: 50px;

    }

    .blog-preview-content {
        overflow: none;
        height: 300px;
        font-size: 20px;
        padding-bottom: 10px;
    }

    .read-more {
        height: 50px;
        min-height: 50px;
    }
    .blog-preview-title {
        font-size: 26px;
        padding: unset;
    }

    .blog-preview-content {
        padding: unset;

    }

    .blog-preview-date {
        padding: unset;
    }
}