p {
    font-size: 18px;
}

.blog-read-title {
    font-size: 35px;
}

.blog-read-date {
    margin-top: 10px;
}

.accent-image-right {
    height: 200px;
    width: 200px;
    float: right;
    margin-left: 15px;
}

.ul-squares {
    display: inline-block;
    margin-left: 40px;
    font-size: 18px;
}

.li-squares {
    font-size: 16px;
    margin-left: -25px;
    margin-right: 20px;
    max-width: 83vw;
    list-style: square;
    padding: 5px;
    text-wrap: wrap;
    white-space: normal;

    & > .code-block-large {
        max-width: 77%;
    }

    & > .block-quote {
        max-width: 90%;
    }
}

.core-subsection {
    font-size: 28px;
}

/* data wrapper, coming from blogConstants or, eventually, coming from fetch */
.blog-content-read-wrapper {
    display: flex;
    flex-direction: column;
}

/* BlogRead Component */
.blog-read-container {
    box-sizing: border-box;
    color: #90868B;
    display: flex;
    flex: 1 1 auto; 
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 800px;
    min-width: 1px;
    overflow-x: hidden;
    padding: 50px 25px 50px 25px;
    position: relative;
    width: 100%; 
}

.code-block-large {
    font-size: 16px;
    white-space: pre;
    width: 90vw;
    max-width: 95%;
    overflow-x: scroll;
    background-color: grey;
    color: black;
    font-family: monospace;
    padding: 10px;
    margin: 5px 10px 5px 5px;
    border-radius: 2px;
}

.code-block-snippet {
    font-size: 16px;
    white-space: pre;
    width: fit-content;
    background-color: grey;
    color: black;
    font-family: monospace;
    padding: 10px;
    margin: 5px 10px 5px 5px;
    border-radius: 2px;
}

.inline-code-emphasis {
    font-size: 16px;
    background-color: grey;
    color: black;
    font-family: monospace;
    padding: 1px;
    border-radius: 2px;
}

.figure-pres {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.caption-pres {
    font-size: 18px;
}

.output {
    width: 97%;
}

.anchors {
    font-size: 18px;
    color: #95745e;
}

.anchors:hover, .anchors:visited, .anchors:active {
    color: #744d33;;

}

.caption {
    font-size: 18px;
    text-align: center;
}

.figure-image {
    display: block;
    float: right;
}

.numbered-blog {
    margin-left: -20px;
    font-size: 18px;
}

.quote-block {
    font-size: 28px;
}

.feature-image {
    max-width: 90%;
    max-height: 90%;
}

.block-quote {
    border-left: solid 2px rgb(115, 111, 111);
    padding-left: 10px;
    margin-left: -20px;
    font-style: italic;
    text-wrap: wrap;
}

.special-note {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;

    & > a {
        font-size: 15px;
    }
}

@media only screen and (min-width: 775px) {

    .blog-read-container {
        padding: 50px 0 50px 0;
    }

    p {
        font-size: 20px;
    }

    .figure-pres {
        display: flex;
        flex-direction: row;
    }

    .output {
        width: unset;
    }

    .accent-image-right {
        height: 250px;
        width: 250px;
        float: right;
        margin-left: 15px;
    }

    .anchors {
        font-size: 20px;
    }

    .code-block {
        font-size: 22px;
    }

    .ul-squares {
        font-size: 25px;
    }

    .numbered-blog {
        font-size: 25px;
        margin-left: unset;
    }

    .special-note {
        font-size: 15px;
        margin-top: 20px;
        margin-bottom: 20px;
    
        & > a {
            font-size: 15px;
        }
    }

    .code-block-large {
        font-size: 16px;
        white-space: pre;
        width: 90vw;
        max-width: 95%;
        overflow-x: scroll;
        background-color: grey;
        color: black;
        font-family: monospace;
        padding: 10px;
        margin: 5px 10px 5px 5px;
        border-radius: 2px;
    }

    .block-quote {
        font-size: 18px;
        border-left: solid 2px rgb(115, 111, 111);
        padding-left: 10px;
        margin-left: 20px;
        font-style: italic;
    }
    
    .li-squares {
        font-size: 18px;
        & > .code-block-large {
            max-width: 77%;
        }
    }
}