.diagram-outline {
    border: 1px solid #000000;
    width: fit-content;
    padding: 15px;
}

.diagram-text {
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 3vw;
}

/* the diagram in the logo needs a different margin */
#logo-diagram {
    margin-top: -5px;
}

.diagram-outline-smaller {
    border: 1px solid #000000;
    width: fit-content;
    padding: 5px;
}


@media only screen and (min-width: 775px) {
    .diagram-text {
        font-size: 1vw;
    }
}


