.glass {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.9px);
    -webkit-backdrop-filter: blur(1.9px);
    border: 1px solid rgba(255, 255, 255, 0.04);
}

.bracket {
    font-size: 35px;
    font-family: 'Zen Loop', cursive;
    margin-top: 5px;
}

.bracket-text {
    align-self: center;
    font-family: 'Michroma', sans-serif;
}

.bracket-wrapper:hover {
    /* color: #E49273; */
}

#MainNavColor {
    color: #E49273;
}

#MainNavColor:hover {
    color: white;
}

#has-mobile-sub-items {
    color: #E49273;
    
}

#has-mobile-sub-items:hover {
    color: white;
}

#mobile-li-no-subs {
    color: #E49273;

}

#mobile-li-no-subs:hover {
    color: white;
    
}

#mobile-sub-item {
    color: #E49273;

}

#mobile-sub-item:hover {
    color: white;
    
}