#ProfileHeader {
    display: flex;
    /* background-color: #BC7258; */
    padding: 15px 0 10px 10px;
    font-family: 'Michroma', sans-serif;
    font-size: 10vw;
    width: auto;
  }

.primary-header-bg {

    background-color: #BC7258;

}

.blog-header-bg {
    background-color: #594157;

}

#ProfileHeader a {
    color: black;
}

#HeaderSection {
    width: 100%;
}

@media only screen and (min-width: 775px) {
    #ProfileHeader {
        font-size: 6vw;
        padding: 20px 0 20px 20px;
    }
}

@media only screen and (min-width: 1160px) {
    #ProfileHeader {
        font-size: 4vw;
        padding: 20px 0 20px 20px;
    }
}






