#MainNav {
    display: flex;
    justify-content: center;
    margin-top: -15px;
}

#ProfileHeader {
    display: flex;
    background-color: #BC7258;
    padding: 20px;
    font-family: 'Michroma', sans-serif;
    font-size: 3vw;
  }