#PrimaryMobileNav {
    z-index: 1;
}

#mobile-nav-button {
    background-image: url('../../public/compass-removebg-preview.png');
    background-color: #12022E;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid #3b1c01;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}


.mobile-li {
    cursor: pointer;
}

.mobile-a {
    display: flex;
    flex-direction: row;
    color: #E49273;
}

.mobile-a:hover {
    color: white;
    
}

.sub {
    margin-left: 10px;
}



.mobile-sub {
    color: #E49273;
}

.mobile-sub:hover {
    color: white;
}

/* initially don't display the sub ul on hover of the main li */
.closed-sub {
    display: none;
}
  
/* on hover of the main li, reveal the sub ul and li*/
.open-sub {
    display: flex;
    flex-direction: column;
}



/* ul styling needs, position absolute keeps dropdown from interfering with other elements */
.mobile-ul {    
    width: 95vw;
    padding: 10px;
    position: absolute;
    margin-top: 55px;
    z-index: 1;
}

.closed-menu {
    display: none;
}

/* responsive */
.mobile-nav {
    display: flex;
    flex-direction: column;
    z-index: 1;

}

.game-demo-nav {
    /* display: flex;
    flex-direction: column; */
    z-index: 1;
    /* align-items: flex-end;
    justify-content: flex-end; */
    /* margin-top: -100px; */
    position: fixed;
    margin-right: 0;
    float: right;
    display: block;
    background-color: rgb(56, 37, 7);
    border-radius: 10px;

}

@media only screen and (min-width: 775px) {
    .mobile-nav {
        display: none;
    }
}
