
  /* set a ul main menu height to ensure dropdowns don't alter original size */
#MainNav {
  height: 43px;
  position: relative;
}

.horizontal-nav {
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    /* background-image: linear-gradient(350deg, #413520, #c0994a); */
    background-image: linear-gradient(360deg, #9c6b5c 10%, #e5b7a7 100%);
    width: fit-content;
    height: 100%;
    padding: 0 10px 15px 10px;
  }

  /* small, individual lines per each menu item, zen loop specifically provides a think '|' */
  #small-tick {
    color: #835648;
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'Zen Loop', cursive;
  }

  /* how the text for each menu item will appear */
  #main-name {
    color: #53311a;
    text-shadow: 0 2px #ddb3a6;
    display: flex;
    font-family: 'EB Garamond', serif;
    font-size: 20px;
    font-weight: 700;
    justify-content: center;

    padding: 0 10px 10px 10px;
  }

  #main-name:hover {
    color: #dab5aa;
    text-shadow: 0 2px #a37567;
  }

  /* designate each lis increment styling, column to align small ticks with text underneath */
  #increment {
    display: flex;
    flex-direction: column;
    border-left: 1px solid #94685a;
    background-color: #00000000;
    cursor: pointer;
  }
  
  /* set the last border */
  #increment:last-child {
    border-right: 1px solid #94685a;
  }

  /* initially don't display the sub ul on hover of the main li */

  
  /* on hover of the main li, reveal the sub ul and li*/
  .submenu-ul-control:hover .submenu-ul-control a:hover .sub-nav-ul {
    display: flex;
    flex-direction: column;
  }

  .submenu-ul-control > ul {
    /* margin-top: -2px; */
  }

  .sub-nav-ul {
    width: fit-content;
    padding: 10px;
    position: absolute;
    margin-top: 55px;
    display: none;
  }


/* full nav bar not shown until 775 */
.desktop-nav {
    display: none;

}

@media only screen and (min-width: 775px) {
    .desktop-nav {
        display: flex;
        justify-content: center;
        margin-top: -15px;
    }
}