#Resume {
    background-color: #465F6E;
    height: 100%;
    margin-top: -50px;
    display: flex;
    font-family: 'Goudy Bookletter 1911', serif;
}

.entry {
    /* row-gap: 25px; */
    margin-bottom: 25px;
}

.resume-content {
    padding-top: 75px;
    margin-left: 200px;
    margin-right: 200px;
}

.org {
    font-weight: 900;
}

.org-details {
    column-gap: 10px;
    justify-content: space-between;
}

.org-details-stretch {
    justify-content: space-between;
}

.bullets {
    list-style-type: circle;
}

.skills {
    column-gap: 20px;
}

.details {
    margin-left: 20px;
    margin-right: 20px;
}

.section-header {
    align-self: center;
}



@media only screen and (min-width: 775px) {

    #Resume {
        margin-top: -28px;
    }

    .resume-content {
        padding-top: 100px;
    }

}