#Resume {
    /* background-color: #465F6E; */
    /* background-color: #4C5F6B;
    color: #12022E; */
    background-color: #465F6E;
    color: #BCA0BC;
    height: 100%;
    margin-top: -50px;
    display: flex;
    font-family: 'Exo 2', sans-serif;

/* 
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 18px; */
}

.entry {
    /* row-gap: 25px; */
    margin-bottom: 25px;
}

.resume-content {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
    max-width: 95vw;
}

.org {
    font-weight: 900;
    width: 100px;
}

.org-details {
    column-gap: 50px;
    justify-content: flex-start;
}

.org-details-stretch {
    column-gap: 150px;
    justify-content: flex-start;
}

.bullets {
    list-style-type: circle;
}

.skills {
    column-gap: 20px;
    /* color: #F18F01; */
    max-width: 800px;
    flex-wrap: wrap;
    margin-top: 5px;
    row-gap: 10px;


}

.each-skill {
    padding: 5px;
    border: 1px solid #F18F01
}

.experience-details {
    margin-left: 20px;
    margin-right: 20px;
    display: block;
    max-width: 800px;

}

.single-line {
    white-space: nowrap;
}


.no-mobile {
    display: none;
}
.section-header {

}



@media only screen and (min-width: 775px) {

    #Resume {
        margin-top: -28px;
    }

    .resume-content {
        display: flex;
        flex-direction: column;
        padding-top: 75px;
        align-items: center;
        justify-content: center;
        width: 100%;

    }

    .no-mobile {
        display: inherit;
    }

}