#PrimaryMobileNav {
    z-index: 1;
}

#mobile-nav-button {
    /* background-image: url('../../public/compass-removebg-preview.png'); */
    /* background-color: #12022E; */
    /* background-repeat: no-repeat; */
    /* background-size: contain; */
    /* border: 1px solid #3b1c01; */
    /* border-radius: 50%; */
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding: 1px;
}


.mobile-li {
    cursor: pointer;
}

.mobile-a {
    display: flex;
    flex-direction: row;
    color: #E49273;
}

.mobile-a:hover {
    color: white;
    
}

.sub {
    margin-left: 10px;
}



.mobile-sub {
    color: #E49273;
}

.mobile-sub:hover {
    color: white;
}

/* initially don't display the sub ul on hover of the main li */
.closed-sub {
    display: none;
}
  
/* on hover of the main li, reveal the sub ul and li*/
.open-sub {
    display: flex;
    flex-direction: column;
}



/* ul styling needs, position absolute keeps dropdown from interfering with other elements */
.mobile-ul {    
    width: 95vw;
    padding: 10px;
    position: absolute;
    margin-top: 55px;
    z-index: 1;
}

.closed-menu {
    display: none;
}

/* responsive */
.mobile-nav {
    display: flex;
    flex-direction: column;
    z-index: 1;
    /* background-color: rgb(56, 37, 7); */
    border-radius: 10px;
    width: fit-content;
    padding: 3px;
}

.game-demo-nav {
    z-index: 1;
    position: fixed;
    margin-right: 0;
    float: right;
    display: block;
    background-color: rgb(56, 37, 7);
    border-radius: 10px;
    width: fit-content;

}



#MainMenu {
    display: none;
    justify-content: center;
    height: 50px;
    margin: 0px 25vw 0px 25vw;
    z-index: 1;
  }
  
  .glassMainMenu {
    /* From https://css.glass */
    background: #2a2928b7;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    border: 1px solid rgba(97, 97, 97, 0.722);
  }
  
  #NavGameDemo {
    display: none;
  }
  
  .horizontal-menu {
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    column-gap: 25px;
  }
  
  .menu-first-level {
    color: #d5dfe5;
    font-family: 'Michroma', sans-serif;
    background-color: inherit;
    border: none;
    cursor: pointer;
    font-size: 20px;
  }
  
  .menu-first-level:hover, .menu-first-level:hover{
    color: #e89f9f ;
  }
  
  /* previous ruler styling */
  /* Overall css for the Main Ruler Navigation */
  #PrimarySiteNav {
    height: 43px;
    position: relative;
    display: none;
    z-index: 1;
  }
  
  /* the first ul of this nav */
  .horizontal-nav {
      border-radius: 3px;
      display: flex;
      flex-direction: row;
      width: fit-content;
      height: 100%;
      padding: 0 10px 15px 10px;
  }
  
    .primary-style {
      background-image: linear-gradient(360deg, #9c6b5c 10%, #e5b7a7 100%);
    }
  
    .blog-style {
      /* background-image: linear-gradient(360deg, #423f30 10%, #7B7554 100%); */
      background-image: linear-gradient(360deg, #251605 10%, #4e5469 100%);
  
    }
  
    .primary-style-text {
      color: #53311a;
      text-shadow: 0 2px #ddb3a6;
    }
  
    .blog-style-text {
      color: #4b4847;
      text-shadow: 0 2px #333234;
  
    }
  
    .blog-tick {
      color: #2b2929;
    }
  
    .primary-tick {
      color: #835648;
    }
  
    /* small, individual lines per each menu item, zen loop specifically provides a thin '|' */
    #small-tick {
      padding-left: 5px;
      padding-right: 5px;
      font-family: 'Zen Loop', cursive;
    }
    /* how the text for each menu item will appear */
    #main-name-link {
      display: flex;
      font-family: 'EB Garamond', serif;
      font-size: 20px;
      font-weight: 700;
      justify-content: center;
      padding: 0 10px 15px 10px;
    }
  
    /* when there is dropdown content available using button */
    #main-name-button {
      display: flex;
      font-family: 'EB Garamond', serif;
      font-size: 20px;
      font-weight: 700;
      justify-content: center;
      padding: 0 10px 15px 10px;
      background-color: inherit;
      border: none;
      cursor: pointer;
    }
  
    /* change the color on hover of all */
    #main-name-button:hover, #main-name-link:hover{
      color: #dab5aa;
      text-shadow: 0 2px #a37567;
    }
  
    /* designate each li increment styling, column to align small ticks with text underneath */
    #increment {
      display: flex;
      flex-direction: column;
      background-color: #00000000;
      cursor: pointer;
    }
    
    /* borders per each incremental navigation */
    .blog-style-border {
      border-left: 1px solid #2b2929;
  
    }
  
    .primary-style-border {
      border-left: 1px solid #94685a;
  
    }
  
    .blog-style-border:last-child {
      border-right: 1px solid #2b2929;
    }
  
    .primary-style-border:last-child {
      border-right: 1px solid #94685a;
    }
  
  
    .sub-nav-ul-closed {
      display: none;
    }
  
    .primary-sub {
      color: #E49273;
    }
  
    .primary-sub:hover {
      color: white;
    }
  
  
    /* initially don't display the sub ul on hover of the main li */
    .sub-nav-ul-open {
      width: fit-content;
      padding: 10px;
      position: absolute;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      z-index: 1;
    }
  
  
  /* responsive, full nav bar not shown until 775 */
  @media only screen and (min-width: 775px) {
      #PrimarySiteNav {
          display: flex;
          justify-content: center;
          margin-top: -15px;
      }
  
      #MainMenu {
        margin-top: -15px;
        display: flex;
  
      }
  
      #NavGameDemo {
        /* display: flex;
        justify-content: center;
        margin-top: -100px;
        margin-right: -200px; */
      }
  }

@media only screen and (min-width: 775px) {
    .mobile-nav {
        display: none;
    }
}
