@import url('https://fonts.googleapis.com/css2?family=Zen+Loop:ital@0;1&display=swap');

#ProfileHeader {
  background-color: #BC7258;
  padding: 10px;
}

.MainNav {

}

.horizontal-nav {
  display: flex;
  flex-direction: row;
  background-color: #B7A692;
  padding: 0 10px 10px 10px;
}

#main-name {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Zen Loop', cursive;
  justify-content: center;
}

#small-tick {
  padding-left: 5px;
  padding-right: 5px;
  font-family: 'Zen Loop', cursive;
}

.alt {
  background-image: linear-gradient(to right, black 1px, transparent 1px, transparent);
  background-position: 5px;
}

.ruler {
  background-image: repeating-linear-gradient(90deg, black, black 1px, rgba(0, 0, 0, 0) 1px, rgba(250, 240, 230, 0) 5px);
  background-size: top 5px;
}

#increment {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #000000;
}

#increment:last-child {
  border-right: 1px solid #000000;
}


.horizontal {
    /* display: inline; */
}

.modern-link, .modern-link:visited, .modern-link:hover, .modern-link:active {
  text-decoration: none;
  color: inherit;
}


/* note applying to all uls */
ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;

}